<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
	    <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      	</button>
	      	<a class="navbar-brand" href="#">DabaliSuper</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	    	<ul class="nav navbar-nav">
	      	<li class="active"><a href="/"><i class="fas fa-home"></i></a></li>
	      	<li><a href="/resto1">Le Resto Burger</a></li>
	      	<li><a href="/resto2">Le Speciale  Cake</a></li>
	      	<li ><a href="/resto3">La Mamiya Cuisine</a></li>
	      	<li><a href="/resto4">Le Monde Des Glaces</a></li>
	      	<li><a href="/resto5">Le Resto Super Grillade</a></li>
	      	<li><a href="/resto6">Le Maitre De La Volaille</a></li>
	      	<li><a href="/commander">Passer Sa Commande</a></li>
	    </ul>
	    </div>
	    
  </div>
</nav>