<%- include layout/header.ejs %>
<%- include layout/navbar.ejs %>
						<div>
							<h1 class="entete">Bienvenue sur le site restaurant Le Maitre De La Volaille</h1>
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/volaille1.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/volaille2.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/volaille3.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/volaille4.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
						</div>
						<div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/volaille5.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/volaille6.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/volaille7.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/volaille8.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
						</div>


<%- include layout/footer.ejs %>