<%- include layout/header.ejs %>
<%- include layout/navbar.ejs %>
						<div>
							<h1 class="entete">Bienvenue sur le site de La Mamiya Cuisine</h1>
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/cuisson1.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/cuisson2.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/cuisson3.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/cuisson4.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
						</div>
						<div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/cuisson5.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/cuisson6.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/cuisson7.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="#" target="_blank">
						     			<img src="images/cuisson8.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
						</div>

<%- include layout/footer.ejs %>