<%- include layout/header.ejs %>
<%- include layout/navbar.ejs %>
						<div>
							<h1 class="entete">Bienvenue sur le site restaurant Burger</h1>
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="/connexion" target="_blank">
						     			<img src="images/burger1.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="/connexion" target="_blank">
						     			<img src="images/burger2.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="/connexion" target="_blank">
						     			<img src="images/burger3.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="/connexion" target="_blank">
						     			<img src="images/burger4.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="/connexion" target="_blank">
						     			<img src="images/burger5.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="/connexion" target="_blank">
						     			<img src="images/burger1.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="/connexion" target="_blank">
						     			<img src="images/burger7.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
						     		<a href="/connexion" target="_blank">
						     			<img src="images/burger8.jpg" alt="">
								    	<button class="btn btn-warning button1">commander</button>
						     		</a> 		
						     	</div>
							</div>
						</div>
					     	    		


<%- include layout/footer.ejs %>